body {
    background-color: #f4f4f4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #39a5ed;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li {
    margin-right: 15px;
}


nav a.active {
    font-weight: bold;
    background-color: #f6ac3f;
}

.view.active {
    display: block;
}

.view {
    display: none;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#content section {
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

#home p,
#about p,
#contact p {
    font-size: 14px;
    font-weight: lighter;
    color: #555;
    text-align: justify;
    line-height: 18px;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    gap: 20px;
}
#about h1{
    text-align: left;
}
.about-container img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
#contact p {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.card {
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 350px;
    padding: 10px;
    border: 1px solid #ccc;
}

.card-img img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
}

.card-title {
    color: blue;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.card-desp {
    text-align: center;
    font-size: 12px;
    text-align: justify;
    padding: 3px;
    color: #555;
}

.card-btn {
    padding: 10px;
    text-align: center;
}

.card-btn a {
    text-decoration: none;
    color: white;
    background-color: #0078d4;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-btn {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-btn:hover {
    transform: scale(1.05);
}

.register-btn:focus {
    outline: none;
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#registration-form input[type="text"],
#registration-form input[type="email"],
#registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

#registration-form input[type="text"]:focus,
#registration-form input[type="email"]:focus,
#registration-form input[type="password"]:focus {
    border-color: #0078d4;
}

#registration-form label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

#registration-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

#registration-form button {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    nav{
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 20px auto;
    }

    .card {
        width: 280px !important;
        height: 450px;
    }

    .card-img img {
        height: 150px;
    }

    .card-title {
        font-size: 1em;
    }

    .card-desp {
        font-size: 0.9em;
    }

    .register-btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}